<h1><%= @shop.name %></h1>

<div>名稱：<%= @shop.name %></div>
<div>電話：<%= @shop.phone %></div>
<div>地址：<%= @shop.address %></div>
<div>評分：<%= @shop.rate %></div>
<div>經度：<%= @shop.lng %></div>
<div>緯度：<%= @shop.lat %></div>
<%= link_to "返回", shops_path %>
